DB_USER=user           # Пользователь базы данных
DB_PASSWORD=password   # Пароль пользователя базы данных
DB_NAME=myapp          # Имя базы данных
DB_HOST=postgres_container  # Хост базы данных
DB_PORT=5432           # Порт базы данных
SERVER_ADDRESS=0.0.0.0:8080  # Адрес и порт сервера